# Go dependencies
/vendor/

# Compiled stuff
/.bin/

# sonar-scanner
/.scannerwork/
/coverage.out

# Compiled binaries
/terraform-provider-concourse*

# Log files
*.log


# Terraform tests
/*.tf
.terraform/
*.tfstate*

# IntelliJ IDEA configuration
/.idea/
*.iml
